.app{
  max-width:var(--max-width);
  padding:0px 16px;
  display:flex;
  flex-direction:column;
  min-height:100vh
}
header h1{
  color:var(--accent);
  font-size:28px}

main{
  display:flex;
  gap:18px;
}

@media(max-width:860px){
  main{flex-direction:column}}
